.user-page-container {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.user-page-container label {
    line-height: 1rem;
    margin-top: 1rem;
}

.user-page-container .main-cart {
    margin-left: 2rem;
    max-width: 100vw;
}

.user-page-container ul {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex: 3 1 30%;
}

.user-page-container ul li {
    margin-top: 1rem;
    margin-right: 1rem;
}

.user-page-container ul li Button {
    width: 100%;
}

@media screen and (max-width:1200px) {
    .user-page-container {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .user-page-container .container {
        width: 100%;
    }
    .user-page-container ul {
        flex-direction: row;
        align-items: stretch;
    }
}
