.curr{
    -moz-appearance: none;
    -webkit-appearance: none;
    outline: none;
    border: none;
    font-family: 'Oswald';
    text-decoration: none;
    font-size: 1.3rem;
    text-decoration: none;
    padding: .5rem 1rem;
    color: white;
    background-color: transparent;
    cursor: pointer;
  }

.dropdown {
    position: relative;
    display: inline-block;
  }

.currency {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 2rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

.currency:hover{
    color:black;
    background-color:white;
    text-decoration: none;
}



.currency li {
    color: black;
    text-decoration: none;
    display: block;
    transition: 0.3s;
  }


.button-currency {
    padding: .5rem 1rem;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    width: 100%;
    font-family: 'Oswald';
    font-size: 1.3rem;
  }

.currency li:hover {
    color:white;
    background-color:black;
    text-decoration: none;
}

.dropdown:hover .currency {
    display: block;
}


.dropdown:hover .curr {
  color: black;
  background-color: white;
  text-decoration: none;
  transition: 0.3s;
}

.dropdown:hover .curr .img-curr{
  color: black;
  background-color: white;
  text-decoration: none;
  transition: 0.3s;
  filter: invert(0);
}

.img-curr{
  filter: invert(10);
}

button,
button:active,
button:focus {
    outline: none;
}
@media only screen and (max-device-width: 768px) {
    .curr {
        padding: .5rem .7rem !important;
    }

    .button-currency {
      font-size: .9rem;
    }
}
@media only screen and (max-device-width: 520px) {
    .img-curr {
        width: 1.5rem
    }

    .curr {
        padding: .5rem .3rem !important;
    }
}

@media only screen and (max-device-width: 375px) {
    .img-curr {
        width: 1.1rem
    }
}


