.plus-button{
    position: absolute;
    top:-1.4rem;
    right: 1rem;
    background-color: white;
}
.list-group-item input{
margin-right: 1rem;
}

label{
    padding: 1rem 1rem;
    cursor: pointer;
    width: 100%;
    height: 100%;
  }
  label:hover{
    background-color: #f6f5f4;    
  }
  ul{
      padding-left: 0;
  }
   li{
      list-style: none;
  }

  
