.wishlist-wrap {
    padding: 1rem;
    border-bottom: 1px solid #e0e0e0;
    border-radius: 2px;
    overflow: hidden;
    position: relative;
}
.wishlist-img{
    display: block;
    width: 210px;
    overflow: hidden;
    float:left;
    margin-right: 2rem;
    transition: all 2s;
    transform: scale(1);
}

.wishlist-img:hover,
.item-title:hover{
    transform: scale(1.1);
    transition: 2s;
}

.main-wishlist{
    max-width: 85%;
    min-height: 200px;
    margin: 0 auto;
    padding: 20px;
}

.wishlist-item{
    min-height: 84px;
    border-bottom: 1px solid #e0e0e0;
    padding: 10px 20px;
}
p {
    margin: 0;
    font-size: 1.2rem;
}
.delte-wishlist-button {
  font-size: 1.7rem;
  margin: 1rem;
  float: right;
  color:  #6c757d;
  
}
.delte-wishlist-button:hover{
    color: black;
}
.item-title{
    margin: 2rem;
    margin-left: 0;
    color: rgb(160, 160, 160);
    font-size: 2rem;
    text-align: left;
    transition: all 2s;
    transform: scale(1);
}

.item-description{
    display: inline;
    font-size: 1.5rem;
}


@media only screen and (max-device-width: 600px){
    .wishlist-title{
        margin-left: 0;
    }

    .item-title{
        font-size: 1.4rem;
    }

    .item-description{
        font-size: 1rem;
        
    }
    .delte-wishlist-button{
        font-size: 1.2rem;
    }


    .wishlist-img{
        float: none;
        width: 170px;
        display: inline-block;
        text-align: center;

        margin: 0;
    }

    .wishlist-title{
        display: block;
        text-align: center;
    }


    .item-title{
        margin: .5rem;
        text-align: center;
    }
      

}
    



