.figure-caption{
    min-height: 390px;
}

.wishlist-img{
    display: block;
    width: 210px;
    overflow: hidden;
    float:left;
    margin-right: 2rem;
    transition: all 2s;
    transform: scale(1);
}

.wishlist-img:hover,
.item-title:hover{
    transform: scale(1.09);
    transition: 2s;
}

.main-wishlist{
    max-width: 97%;
    min-height: 250px;
    margin: 0 auto;
    padding: 20px;
}

.wishlist-item{
    border-bottom: 1px solid #e0e0e0;
}

p {
    margin: 0;
    font-size: 1.2rem;
}

.delte-wishlist-button {
  font-size: 1.7rem;
  float: right;
  color:  #6c757d;
  margin-top: -2rem;
  
}
.delte-wishlist-button:hover{
    color: black;
}
.item-title{
    margin: 2rem;
    margin-left: 0;
    color: rgb(160, 160, 160);
    font-size: 2rem;
    text-align: left;
    transition: all 2s;
    transform: scale(1);
}

.item-description{
    display: inline;
    font-size: 1.5rem;
    vertical-align: middle;
}

.full-description-wishlist{
    display: inline;
    vertical-align: middle;
}

.displayed-text{
    display: none;
}


.wishlist-wrap{
    width:100%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40rem, auto));
    grid-gap: 0rem 4rem;
}


@media only screen and (max-device-width: 769px){
    .figure-caption{
        min-height: 250px;
    }

    .main-wishlist,
    .wishlist-wrap{
        max-width: 100%;
        padding: .5rem;
    }


    .wishlist-wrap {
        padding: 1rem;
        overflow: hidden;
        position: relative;
        display: block;
    }

    .main-wishlist{
        padding: 0;
    }

    .item-description{
        font-size: 1.1rem;
    }

    .item-title,
    .delte-wishlist-button{
        font-size: 1.3rem;
    }

    .wishlist-img{
        width: 120px;
    }

    

}


@media only screen and (max-device-width: 600px){

    .wishlist-wrap{
        padding: .5rem;
        padding-bottom: 2rem;
    }

    .item-description{
        display: block;
        font-size: .9rem;
    }

    .delte-wishlist-button{
        font-size: .9rem;
        margin-top: -1rem;
    }

    .wishlist-img{
        float: none;
        width: 130px;
        display: inline-block;
        text-align: center;
        margin: 0;
    }

    .figure-caption{
        display: block;
        text-align: center;
        padding: 1rem .1rem;
    }

    .item-title{
        margin: .5rem;
        text-align: center;
    }

    .displayed-text{
        display: block;
    }

    .full-description-wishlist{
        display: none;
    }
    
}
    



