.wishlist-wrap {
    margin: 1rem 0 1rem 0;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    overflow: hidden;
    position: relative;
}
.wishlist-img{
    display: block;
    width: 210px;
    overflow: hidden;
    float:left; 
    margin: 7px 7px 7px 0; 
}
.wishlist-title{
    font-size: 1.5rem;
    margin-left: 2rem;
}
.main-wishlist{
    max-width: 900px;
    min-height: 200px;
    margin: 0 auto;
}
.wishlist-item{
    min-height: 84px;
    border-bottom: 1px solid #e0e0e0;
    padding: 10px 20px;
}
p {
    margin: 0;
    font-size: 1.2rem;
}
.delte-wishlist-button {
  font-size: 1.7rem;
  margin: 1rem;
  float: right
}
.delte-wishlist-button:hover{
    color: black;
}
.item-title{
    color: crimson;
    font-size: 2rem;
}