.catalogs {
    display: flex;
    align-items: center;
    margin: 3rem auto;
    justify-content: space-around;
    max-width: 1200px;
}

.catalogs img {
    display: block;
    width: 100%;
}

@media (max-width: 768px) {
    .catalogs {
        flex-direction: column;
        width: 90%;
        margin: 2rem auto;

    }
}

@media (max-width: 520px) {
    .catalogs{
        margin: 1rem auto;
        width: 90%;
    }

}

@media (max-width: 425px) {
    .catalogs {
      flex-direction: column;
      width: 80%;
      margin: 1rem auto;
     }
 }

@media (max-width: 360px) {
    .catalogs {
        flex-direction: column;
        width: 100%;
        margin: 1rem auto;
    }
}
