.react-multi-carousel-list {
    margin-bottom: 1rem;
}
.react-multiple-carousel__arrow {
    min-width: 20px!important;
    min-height: 20px!important;
}
.react-multiple-carousel__arrow::before {
    font-size: 10px!important;
}
.react-multiple-carousel__arrow--right{
    right: calc(2% + 1px)!important;
}
.react-multiple-carousel__arrow--left {
    left: calc(2% + 1px)!important;
}
