@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

.header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 1.5rem;
    margin-bottom: 7rem;
    box-shadow: 0 8px 6px -6px black;
}

.header .logo {
    padding: 1rem;
    height: 6rem;
}