.row {
    margin-left: 0;
    font-family: "Oswald";
}

.search-bar {
    width: 200px;
    margin-left: 1rem;
    margin-right: .3rem;
}

@media only screen and (max-device-width: 768px) {
    .search-bar {
        width: 120px;
       margin-right: 1rem;
        margin-left: 0;
    }

    ::placeholder {
        font-size: 0.9rem !important;
    }

}

@media only screen and (max-device-width: 650px) {
    .search-bar {
        width: 168px;
    }
}
