.img-carousel{
    object-fit: cover;
    height: 100%;
}

.carousel {
    height: 80vh;
    width: 100%;
    margin-top: 10px;
}

@media only screen and (max-device-width: 768px) {
    .carousel-item {
        float: none;
        display: flex!important;
        transition: none!important;
        margin-top: 10px;
        margin-right: 0!important;
    }

    .carousel{
        height: auto;
    }

    .carousel-inner{
        display: flex!important;
        flex-direction: column;
        overflow: inherit!important;
        align-items: center;
    }

    .carousel-indicators{
        display: none!important;
    }
    .carousel-caption{
        bottom: 0!important;
    }
    .carousel-caption > h2{
        font-size: 1.2rem;
    }

}
