.news-cardDeck{
    margin-top: 5rem;;
    width:90%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, auto));
    grid-gap: 5rem;
};
.news{
    margin:5rem auto;
}
