.page-item {
    cursor: pointer;
    font-family: "Oswald";
    background-color:#343a40;
    color: white;
    margin-right: 1rem;
  }
  nav {
    display: grid;
    justify-items: center;
  }
  