.field{
    border: 3px solid;
    border-radius:10px;
    padding:1rem;
}
.form-space{
    margin-top: 2rem;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}