html,
body {
    height: 100%;
    position: relative;
}

.App {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
    overflow: hidden;
}

@media only screen and (max-device-width: 991px) {
    .App {
        grid-template-rows: [row1] 1.2fr [row1-end row2] auto [row2-end row3] 3fr [row3-end];
    }
}
@media only screen and (max-device-width: 576px) {
    .App {
        grid-template-rows: [row1] 1fr [row1-end row2] auto [row2-end row3] 5fr [row3-end];
    }
}

@media only screen and (max-device-width: 520px) {
    .ScrollUpButton__Container {
        height: 40px !important;
        width: 40px !important;
    }
}
