.cart-wrap {
    margin: 1rem 0 1rem 0;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    overflow: hidden;
    position: relative;
    background-color: #f4f7f6;
}
.checkout-wrap{
    display: inline-block;
    float: right;
    padding: 5px;
}
.cart-img{
    display: block;
    width: 150px;
    overflow: hidden;
    margin-left: 3rem;
    margin-bottom: 0;
}
.cart-title{
    font-size: 1.5rem;
    margin-left: 2rem;
}
.main-cart{
    max-width: 900px;
    min-height: 200px;
    margin: 0 auto;
}
.cart-item{
    min-height: 84px;
    border-bottom: 1px solid #e0e0e0;
    padding: 10px 20px;
}
p {
    margin: 0;
    font-size: 1.2rem;
}
.quantity-control{
    margin: 40px 5px;
}
.quantity{
    margin: 1.3rem;
    font-size: 1.5rem;
}
.msrp-price {
    text-decoration: line-through;
}
.price{
    margin: 10px;
}

.delte-cart-button,
.add-to-cart-button,
.remove-from-cart-button {
  font-size: 1.7rem;
  margin: 0rem 1.3rem
}

.delte-cart-button:hover,
.add-to-cart-button:hover,
.remove-from-cart-button:hover{
    color: black;
  }

