
.wrapperDetails {
    margin: 3rem auto;
    background-color: rgb(245, 245, 245);
    padding: 0 2rem;
    width: 75%;
}

.cardBody {
    display: grid;
    grid-template-columns: 57% 43%;
    padding: 2rem 0;
}

.images {
    display: grid;
    grid-template-columns: 8rem 25rem;
    grid-template-rows: 11rem 11rem 11rem;
    grid-auto-flow: column;
    grid-gap: 2rem;
    overflow: hidden;
}

.images img {
    transition: all 0.3s;
    transform: scale(1);
}

.images img:hover {
    transform: scale(1.1);
}

.one, .two, .three {
    grid-column: 1;
    grid-row: 1;
}

.two {
    grid-column: 1;
    grid-row: 2;
}

.three {
    grid-column: 1;
    grid-row: 3;
}

.four {
    grid-column: 2;
    grid-row: 1 / 4;
}

.img {
    width: 100%;
    padding: 0;
}

.col {
    padding: 0;
}

.color {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    margin: 1rem 0;
}

.size {
    display: flex;
    padding-left: 0;
    margin: 1rem 0;
}

.sizeItem {
    cursor: pointer;
    width: 30px;
    height: 30px;
    margin-right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Oswald";
}

.sizeItem:hover {
    color: white;
    background-color: black;
}

.pdpPrice {
    justify-content: space-between;
    width: 12rem;
}

.title {
    text-transform: uppercase;
    font-family: "Oswald";
}

.productDescription {
    font-weight: normal;
    text-align: justify;
    font-size: unset;
}

.buttons {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    justify-self: end;
}

.button {
    margin-right: 1rem;
}

.similarItems {
    text-align: center;
    font-size: 24;
    font-family: "Oswald";
    text-transform: uppercase;
}

.productCart {
    justify-self: center;
}

.check {
    color: white;
    background-color: black;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.disp-none {
    display: none;
}

.disp-block {
    display: block;
}
#msrp-price{
    text-decoration: line-through;
}

.price-pdp {
  color: #6c757d;
}

.price-pdp{
  margin-left: 0;
}

.heart{
  font-size: 1.5rem;
}

.heart:hover{
  transform: scale(1.1);
  color: rgb(182, 1, 1);
}

.heart-active{
  color: rgb(182, 1, 1);
}



@media (max-width: 1480px) {
    .cardBody {
        grid-template-columns: 50% 47%;
    }

    .images {
        grid-template-columns: 6rem 18rem;
        grid-template-rows: 8rem 8rem 8rem;
    }
}

@media (max-width: 1300px) {
    .cardBody {
        grid-template-columns: 51% 49%;
    }

    .images {
        grid-template-columns: 5rem 15rem;
        grid-template-rows: 7rem 7rem 7rem;
        grid-gap: 1rem
    }

    .productDescription {
        font-size: 14px;
    }
}

@media (max-width: 1150px) {
    .cardBody {
        display: block;
    }

    .images {
        justify-content: space-around;
        grid-template-columns: 11rem 27rem;
        grid-template-rows: 14rem 14rem 14rem;
        grid-gap: 10px
    }
}

@media (max-width: 950px) {
    .one, .two, .three {
        display: none;
    }

    .images {
        grid-template-columns: 0;
        grid-gap: 0;
        grid-template-rows: 14rem;
    }
}

@media (max-width: 600px) {
    .size {
        justify-content: center;
    }
    #heartButton {
        font-size: 1.3rem;
    }
    #buyNow .btn, #addToCartButton{
        padding: .2rem .7rem;
        font-size: 1rem;
        margin-top: 7px;
        width:8rem
    }
    .wrapperDetails {
        margin:0;
        width:100%;
        padding: 0.5rem;
    }
    
    .button{
        margin-right: 0;
    }
    #buttons{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
