.star {
    display: flex;
    align-items: baseline;
}

.rate {
    margin-right: 0.6rem;
}

.comments-form {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 0.8rem 0;
}

.feedback-form {
    border: 1px solid #e5e5e5;
    border-radius: .3rem;
    padding: .8rem 1.3rem;
    width: 80%;
    height: 8rem;
    margin-bottom: 0.7rem;
    resize: none;
}

.form-textarea {
    margin-bottom: 2rem;
}

.comment-submit {
    width: fit-content;
    color: #fff;
    background-color: #343a40;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
}

.review-title {
    margin-bottom: 1.5rem;
}

.login-link {
    font: 1.7rem PT Sans, -apple-system, BlinkMacSystemFont, sans-serif;
}

.login-link span {
    background: black;
    opacity: 0.7;
    padding: 2px;
    border: 1px solid white;
}

.review-length{
    color: #d2d2d2;
}

@media only screen and (max-device-width: 425px) {
    .feedback-form {
        width: 100%;
    }


}
