@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

.categories {
    max-width: 1100px;
    margin: 30px auto 70px auto;
}

.categories ul {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.categories li {
    display: inline-block;
}

.category-item a {
    font-family: 'Oswald';
    text-decoration: none;
    font-size: 1.2rem;
    color: black;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    transition: all 0.5s;
}

.category-item:hover a {
    color: white;
    background-color: black;
}

@media only screen and (max-device-width: 991px) {
    .categories {
        max-width: 991px;
    }
}

@media only screen and (max-device-width: 768px) {
    .categories {
        max-width: 768px;
        margin: 15px auto;
    }

    .category-item a {
        font-size: 1rem;
        padding: 0.5rem 0.6rem;
    }

}

@media only screen and (max-device-width: 600px) {
    .category-item a {
        font-size: 0.9rem;
        padding: 0.5rem 0.5rem;
    }
}

@media only screen and (max-device-width: 520px) {
    .categories ul {
        flex-direction: column;
        align-items: center;
    }
    .carousel{
        display: none;
    }

    .category-item a {
        font-size: 1.1rem;
        letter-spacing: 0.2rem;
    }

    .category-item{
        padding: 0.6rem;
    }

}
