.cart-wrap {
    margin: 1rem 0 1rem 0;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    overflow: hidden;
    position: relative;
    background-color: rgb(245, 245, 245);
}

.checkout-wrap {
    display: inline-block;
    float: right;
    padding: 5px;
}

.cart-img {
    display: block;
    width: 150px;
    overflow: hidden;
    margin-left: .5rem;
    margin-bottom: 0;
    transition: all 2s;
    transform: scale(1);
}

.cart-img:hover{
    transform: scale(1.1);
    transition: 2s;
}

.main-cart {
    max-width: 90%;
    min-height: 200px;
    margin: 0 auto;
    padding: 20px;
}

.cart-item {
    min-height: 84px;
    border-bottom: 1px solid #e0e0e0;
}

.quantity-control {
    margin: 40px 0;
    text-align: center;
}

#quantity {
    color: #6c757d;
    margin: 1.3rem;
    font-size: 1.5rem;
}

.full-price {
    text-decoration: line-through;
}

.price,
.full-price {
    font-size: 1.5rem;
    color: #6c757d;
    display: block;
    padding-top: .7rem;
    text-align: center;
}

.cart-title-item{
    color: #6c757d;
    font-size: 1.5rem;
    padding: 2rem 0rem;
    transition: all 2s;
    transform: scale(1);
}

.shop-now{
    color: #6c757d;
    margin-left: 2rem;
}

.cart-title-item:hover,
.shop-now:hover{
    color: #515455;
    transform: scale(1.1);
    transition: 2s;
}

.delte-cart-button{
    font-size: 1.5rem;
    margin: 0;
    color: #6c757d;
}


.add-to-cart-button,
.remove-from-cart-button
 {
    font-size: 1.7rem;
    margin: 0 1rem;
    color: #6c757d;
}

.delte-cart-button:hover,
.add-to-cart-button:hover,
.remove-from-cart-button:hover {
    color: black;
}

.item-title-cart,
.item-size-cart{
    font-size: 1.5rem;
    color: #6c757d;
}

.cart-table td{
    vertical-align: middle;
}

.cart-table th{
    font-size: 1.3rem;
    font-family: 'Oswald';
    font-weight: 100;
}

.cart-table th{
    text-align: center;
}

.total-cart{
    text-align: right;
}


.cart-name{
    font-size: 1.8rem;
    font-family: 'Oswald';
    font-weight: 150;
    text-align: center;
}

.checkout-cart-button{
    display: inline;
    
}

.checkout-cart-button-div{
    text-align: right;
}

.empty-cart{
    display: block;
    text-align: center;
}

.empty-cart img{
    width: 40%;
    margin-bottom: 5rem;
    margin-left: 9%;
}

.empty-cart-p{
    font-size: 2rem;
    font-family: 'Oswald';
    text-align: center;
    margin: 1.3rem;
}

.cart-btns{
    font-size: 1.3rem;
    margin: 1rem;
    margin-right: 0;
}

.shop-now-btn{
    margin: 1rem;
}


@media only screen and (max-device-width: 1100px) {
    .main-cart{
        max-width: 100%;
    }

    .thead-cart{
        display: none;
    }

    .add-to-cart-button,
    .remove-from-cart-button,
    .cart-img{
        margin: 0px;
    }

    table.cart-table td {
        padding-left: 0;
        padding-right: 0;
        margin: 0;
    }

    .cart-img{
        margin: 0;
    }

    .empty-cart img{
        width: 60%;
    }


}

@media only screen and (max-device-width: 850px) {
    .cart-table{
        max-width: 100%;
    }

    .empty-cart-p{
        font-size: 1.7rem;
    }

    .cart-name,
    table.cart-table thead{
        display: none;
    }

    .price,
    .full-price,
    .cart-title-item,
    .item-size-cart,
    #quantity{
        font-size: 1.1rem;
    }

    .cart-btns{
        font-size: .85rem;
        margin: .9rem;
    }

    .total-cart,
    .checkout-cart-button-div{
        text-align: center;
    }

    table.cart-table tr {
        display: grid;
        margin: 0;
        border-bottom: 2px solid #e8e9eb;
    }

    table.cart-table td.item1{
        grid-column: 1 ;
        grid-row: 1 / 5;
    }

    table.cart-table td{
        grid-column: 2 / 50;
    }


    table.cart-table td {
        text-align: center;
        border-top: none;
        padding: .5rem;
    }

    .cart-img{
        margin: 0;
        display: inline;
    }

    .price, .full-price{
        display: inline;
    }

    .full-price{
        padding-left: 1.3rem;
    }

    .cart-title-item{
        padding: .1rem;
    }

    .quantity-control{
        margin: .1rem;
    }

    .empty-cart img{
        width: 70%;
    }

    .empty-cart-p,
    .shop-now{
        display: block;
        font-size: 1.5rem;
        margin: 1.5rem;
    }

    .shop-now{
        margin: 0;
    }

    .delte-cart-button,
    .add-to-cart-button,
    .remove-from-cart-button{
        font-size: 1.1rem;
    }

    .total-cart{
        font-size: 1rem;
    }

}

@media only screen and (max-device-width: 426px){
    .empty-cart-p{
        font-size: 1.5rem;
        margin: 2rem;
    }

    .price,
    .full-price,
    .cart-title-item,
    .item-size-cart,
    #quantity,
    .total-cart{
        font-size: .9rem;
    }

    table.cart-table td{
        padding: .1rem;
        display: block;
    }

    .delte-cart-button,
    .add-to-cart-button,
    .remove-from-cart-button{
        font-size: 1rem;
    }

    table.cart-table tr{
        display: block;
        max-width: 100%;
    }

    .cart-btns{
        margin: .3rem;
        font-size: .8rem;
    }

    .cart-img{
        width: 130px;
    }


}



