.msrp-price {
  text-decoration: line-through;
  margin: 0!important;
}

.posts {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  justify-items: center;
}

.productCart {
  position: relative;
  grid-gap: 20px;
  max-width: 17rem;
  max-height: 550px;
  cursor: pointer;
}

.productCart .image-container {
  display: block;
  height: 300px;
  overflow: hidden;
}

.productName {
  font-family: "Oswald";
  text-transform: uppercase;
}

.cardPrice {
  font-size: 1.5rem;
  margin: 0;
  color: rgb(168, 21, 21);
  font-family: "Oswald";
}

.productCart:hover {
  box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.1);
}

.bottomElements {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  justify-self: end;
  position: absolute;
  right: 0;
  bottom: 10px;
}


.description {
  display: block;
  display: -webkit-box;
  max-width: 400px;
  margin: 0 auto;
  line-height: 1.4;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: unset;
  text-align: justify;
}

.cardWrapper {
  height: 265px;

}

.heart, .cart {
  font-size: 1.5rem;
  margin: 0.3rem;
}

.heart:hover {
  color: rgb(168, 21, 21);
}

.cart:hover {
  color: green;
}