.cart-table {
  padding: 1rem 1rem;
  border: 1px solid red;
}

.cart-table .total {
  text-align: right;
  font-size: 1.5rem;
}

.cart-table button {
  margin-left: 1rem;
}

.cart-table td, .cart-table th {
  text-align: center;
}
