.footer-inner {
  background-color: black;
  color: white;
  width: "100%";
  margin: "0";
  display: block;
}

.footer .icon {
  color: white;
  font-size: 3rem;
  transition: all 0.5s;
  padding: 0.5rem;
  border-radius: 100%;
}

.footer .icon:hover {
  color: black;
  background-color: white;
}
