.nav-bar ul {
    padding: 0;
    margin: 0;
}

.nav-bar li {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.nav-bar a {
    font-family: "Oswald";
    text-decoration: none;
    font-size: 1.3rem;
    color: white;
    padding: 0.5rem 1rem;
    transition: all 0.3s;
    text-transform: uppercase;
}

.nav-bar a:hover {
    color: black;
    background-color: white;
}

.nav-item {
    position: relative;
}

.nav-bar .nav-item .drop-down-container .drop-down {
    display: block;
    width: 30rem;
    position: absolute;
    color: black;
    top: 38px;
    z-index: 1000;
}

.nav-bar .nav-item .drop-down-container .drop-down a {
    width: 100%;
    color: black;
    background-color: white;
    padding-left: 0.3rem;
    transition: all 0.3s;
}

.nav-bar .nav-item .drop-down-container .drop-down a:hover {
    color: white;
    background-color: black;
}

@media only screen and (max-device-width: 991px) {
    .nav-left {
        justify-items: center;
        text-align: center;
        width: 100vw;
        margin-top: 30px;
    }

    nav .nav-left a {
        color: black;
        font-weight: 700;
        font-size: 1.5rem;
        letter-spacing: 0.1rem;
    }

    .container {
        margin-top: 40px;
    }

    .nav-item {
        position: inherit;
    }

    .nav-bar .nav-item .drop-down-container .drop-down {
        top: 80px;
        left: 0;
        right: 0;
        position: absolute;
        width: 100vw;
    }

    .drop-down-container {
        display: none;
    }
}

@media only screen and (max-device-width: 520px) {
    nav .nav-left a {
        color: black;
        font-weight: 700;
        font-size: 1.3rem;
        letter-spacing: 0.1rem;
    }

}
