@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

.about-owner__title,
.about-team__title {
    font-family: 'Staatliches', cursive;
    margin: 0;
}

h4 {
    font-size: 30px;
}

.horondi {
    color: white;
    padding: 2px;
    align-self: flex-end;
    position: relative;
    font-weight: bold;
}

.horondi:after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: black;
    z-index: -1;
}

.underline {
    text-decoration: underline orangered;
}

.about-us {
    margin: 0 auto;
    max-width: 1280px;
}

.header-page-about-us {
    margin-top: 30px;
    height: 700px;
    background: url("/images/about-us/hero-bg.jpg") no-repeat center;
    background-size: cover;
    position: relative;
    display: flex;
    border-radius: 10px;
}

.header-page-about-us-describe {
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    width: 100%;
    padding: 50px;
}

.header-page-about-us-describe:after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: black;
    opacity: .3;
    z-index: 1;
    border-radius: 10px;
}

.header-about-us-h2 {
    position: relative;
    z-index: 2;
    color: white;
    margin-left: 10%;
    font-size: 50px;
    text-align: right;
    letter-spacing: .2em;
}

.header-about-us-h4 {
    position: relative;
    z-index: 2;
    text-align: right;
    margin-top: 5px;
}


/*BODY*/
.body-page-about-us {
    margin-top: 50px;
    padding: 50px;
}

.body-page-about-us > * {
    border-bottom: 1px solid #ffaa00;
}

.section {
    margin: 50px 0;
}

.section p {
    text-indent: 40px;
}

@media only screen and (max-width: 991px) {
    .header-about-us-h2 {
        font-size: 30px;
    }
}

