#user-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.user-page-button {
    margin-top: 1rem;
}
/* eye */
.pass-wrapper {
    position: relative;
    display: flex;
    margin-bottom: 14px;
  }

@media screen and (max-width:1200px) {
    #user-form {
        width: 100%;
    }   
}

@media screen and (max-width:992px) {
    #user-form {
        width: 100%;
    }
}