.login {
  width: 35%;
  margin: 0 auto;
  font-family: 'Ostwald';
}

.loginHeader {
  font-size: 52px;
  line-height: 32px;
  font-family: AdineuePRO, Helvetica, Arial, sans-serif;
  font-weight: 600;
  margin-bottom: 100px;
  margin-top: 200px;
}
.custom-control-label {
  margin-bottom: 1rem;
  padding: 0;
}
.link {
  text-align: right;
  font-size: 17px;
}
.link a {
  color: black !important;
}
.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: black !important;
  background-color: black !important;
}
label {
  padding: 0;
  cursor: pointer;
  font-size: 17px;
}
label:hover {
  background-color: transparent !important;
}
.lable {
  text-transform: uppercase;
  font-size: 40px;
  padding: 0;
  margin: 0;
  text-align: center;
}
.errorMessage {
  color: red;
  font-size: 15px;
}

/* radio */
.custom-control-label {
  color: black !important;
}

.custom-control-label:before {
  border-color: black !important;
}


/* eye */
.pass-wrapper {
  position: relative;
  display: flex;
  margin-bottom: 14px;
}

i {
  position: absolute;
  top: 20%;
  right: 5%;
}
i:hover {
  color: #737575;
  cursor: pointer;
}

.login-wrapper {
  display: none;
  justify-content: space-around;
  align-items: stretch;
  margin-bottom: 1rem;
}
@media screen and (max-width: 520px) {
  .login {
    width: 45%;
  }

  .lable {
    font-size: 32px;
  }
  .login-wrapper {
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    margin-bottom: 1rem;
  }
  .kep-login-facebook {
    margin-bottom: 1rem;
  }
  .kep-login-facebook.metro {
    width: 100%;
  }
}
