.register {
    width: 35%;
    margin: 0 auto;
    font-family: "Ostwald";
}
.registerHeader {
    font-size: 42px;
    line-height: 32px;
    font-family: AdineuePRO,Helvetica,Arial,sans-serif;
    font-weight: 600;
    margin-bottom: 30px;
    margin-top: 80px;

}
.custom-control-label {
    margin-bottom: 1rem;
    padding: 0;
}
.link{
text-align: right;
font-size: 17px;
}
.link a{
    color: black!important;
}
.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: black!important;
    background-color: black!important;
}
label {
    padding: 0;
    cursor: pointer;
    font-size: 17px;
}
label:hover {
    background-color: transparent!important;
}
.lable{
    text-transform: uppercase;
    font-size: 40px;
    padding: 0;
    margin: 0;
    text-align: center;
}
.errorMessage{
    color: red;
    font-size: 15px;
}
/* eye */
.pass-wrapper {
    position: relative;
    display: flex;
    margin-bottom: 14px;
  }

  i {
    position: absolute;
    top: 20%;
    right: 5%;
  }
  i:hover {
    color: #737575;
    cursor: pointer;
  }

@media screen and (max-width: 520px) {
    .register{
        width: 45%;
    }

    .lable{
        font-size: 35px;
    }
}
