#user-form {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.user-page-button{
    margin-top: 1rem;
}
#user-page-snackbar{
    margin-left:30vw;
    text-align: center;
}
@media screen and (max-width:1200px) {
    #user-form{
        width: 100%;
    }

}
@media screen and (max-width:992px) {
#user-form{
    width: 100%;
}
}